.navbar {
    background-color: #febdd3;
    position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0 2px 5px #999;
}
.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}

nav + main {
    padding-top: 100px;
}

nav .nav-link {
    color: #990005;
    text-align: center;
}


nav .nav-link:hover {
    color: #e14072
}

nav a .brand {
    width: 100%;
    max-width: 100px;
}

main .headline {
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
}


main .container figure {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

main .container img  {
    width: 100%;
    max-width: 250px;
}

main .do-que-somos-feitos {
    text-align: center;
    width: 100%;
}

